body{
  font-family: 'Teko', sans-serif;
  font-size:40px;
  background: #9f9aa4 !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
background-color: #b5c9c3;
padding: 20px;
display: flex;
}
.container > .block {
  padding: 20px;
}
